<!-- <h1>New Room</h1> -->
<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Editing Room</div>
      <div class="card-body">
        <%= render 'form', room: @room %>
        <%= link_to 'Show', @room %> |
        <%= link_to 'Back', rooms_path %>
      </div>
    </div>
  </div>
